{% extends "base_menu.html" %}

{% block content %}
    <p>
        {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                    <li>
                        <a href="{% url 'polls:detail' question.id %}">
                        {{ question.question_text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </p>

    <p>
        <a href="{% url 'polls:polls_info' %}">Click here</a> for information
        about the Polls application.
    </p>

{% endblock %}