{% extends "base_bootstrap.html" %}
{% load static %}
{% block pagestarter %}
    <h1>WELCOME</h1>
    <p>
        <img class="img" src="{% static 'css/img/blank.jpg' %}" alt="blank" title="blank" width="60" height="60" />
        This website is the collection of web applications I worked on to receive my Django certification.
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </p>
{% endblock %}
{% block content %}
    <h2>Message from the developer:</h2>
    <div class="roundcont">
        <div class="roundtop"><img src="{% static 'css/img/tl.gif' %}" alt="tl img"  width="10" height="10" class="corner"  style="display: none" /> </div>
        <p>
            <h3>Hello!</h3>
        </p>
        <p>
        Welcome to my website.  My own little place on the Internet to share my software development
        achievements, and a convenient way to show off my website development skills in practice.
        </p>
        <p>
        I just figured I'd leave you a little guide, just as kind of a heads-up on what to expect
        where.
        </p>
        <p></p>
        <p>
        <strong>Where to Go:</strong>
        </p>
        <p>
            <ul>
                <li>
                    As you probably already know, you're currently on the "Home" page.  It's really just there 
                    as a nice anchor.
                </li>
                <li>
                    The "About" tab will take you to a place with a little extra information about me plus information
                    about this website, if that's something that interests you.  That includes a link to the Github repository 
                    where the code for this website is stored.
                </li>
                <li>
                    The "Portfolio" tab will take you to a place where you can get some information about various
                    projects and other such works I've been a part of.  Work history, certifications, and links to any
                    cool applications I've put code into.  It's all there, black and white, clear as crystal.
                </li>
            </ul>
        </p>
        <p>
        Oh, and before you head off, do take a moment to relax.  Take a deep breath, check your posture, 
        maybe get a stretch in, and don't forget to drink water.  It's all important stuff, you know?
        </p>
        <p>
        That's all from me, though.  Enjoy your time looking around, and I hope you have a nice day.
        </p>
        <p>
        Sincerely,
        </p>
        <p>
        <h4 class="signature">-Chandler <u>Alec</u> Austin</h4>
        </p>
        <div class="roundbottom"><img src="{% static 'css/img/bl.gif' %}" alt="bl img" width="10" height="10" class="corner" style="display: none" /></div>
    </div>

{% endblock content %}