{% extends "base_bootstrap.html" %}
{% load static %}
{% block pagestarter %}
    <h1>WELCOME</h1>
    <p>
        <img class="img" src="{% static 'css/CSS_Template_1/rounded/img/blank.jpg' %}" alt="blank" title="blank" width="60" height="60" />
        This website is the collection of web applications I worked on to receive my Django certification.
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </p>
{% endblock %}
{% block content %}
    <h2>Message from the developer:</h2>
    <div class="roundcont">
        <div class="roundtop"><img src="{% static 'css/CSS_Template_1/rounded/img/tl.gif' %}" alt="tl img"  width="10" height="10" class="corner"  style="display: none" /> </div>
        <p>
            <br/>
            I touched it up a bit, but mostly just for easier navigation to each <br/>
            application via the navigation bar at the top.  So it's more of a<br/>
            demonstration of technical ability than a personal website.  But I <br/>
            figure it's at least something that can give you an idea of what I can do.<br/>
            <br/>
            The applications in the top bar are ordered by complexity, so if you're <br/>
            just looking for a quick overview, feel free to skip directly to the <br/>
            Ads application.  Just be aware that you will need to create a login <br/>
            to make ads, as well as to access the Autos and Cats applications entirely.<br/>
            You're welcome to sign in on your own using the Github social login, or <br/>
            you can use "visitor" and "passvisi" as the username and password,<br/>
            respectively.  Login is accessible at the far-right of the nav bar.<br/>
            <br/>
            In addition, the source code for this website can be found
            <a href="https://github.com/CAA-Important/CAA-Important/tree/main/Python_Projects/django_certification_apps"> here </a>.<br/>
            <br/>
            And here are the certifications I received for this work.
            <ul>
                <li><a href="https://www.coursera.org/account/accomplishments/specialization/JX489YD6GWJ4">Full Specialization Certificate</a></li>
                <li><a href="https://www.coursera.org/account/accomplishments/verify/5BFP25Y29B3P">Course 1 Certificate</a></li>
                <li><a href="https://www.coursera.org/account/accomplishments/verify/RTV5MPHQFK5C">Course 2 Certificate</a></li>
                <li><a href="https://www.coursera.org/account/accomplishments/verify/JTAN9TWQTVCB">Course 3 Certificate</a></li>
                <li><a href="https://www.coursera.org/account/accomplishments/verify/KUFJCWKJE4TV">Course 4 Certificate</a></li>
            </ul>
            <br/>
            <br/>
            Whatever you decide to do here, though, I hope you enjoy your visit <br/>
            and have a nice day.<br/>
            <br/>
            Sincerely,
        </p>
        <h4>-(Chandler) Alec Austin</h4>
        <div class="roundbottom"><img src="{% static 'css/CSS_Template_1/rounded/img/bl.gif' %}" alt="bl img" width="10" height="10" class="corner" style="display: none" /></div>
      </div>

{% endblock content %}