{% extends "base_menu.html" %}
{% block content %}
    <h1>Hello!</h1>
    <p>
        This website is the collection of web applications I worked on to <br/>
        receive my Django certification.<br/>
        <br/>
        I touched it up a bit, but mostly just for easier navigation to each <br/>
        application via the navigation bar at the top.  So it's more of a<br/>
        demonstration of technical ability than a personal website.  But I <br/>
        figure it's at least something that can give you an idea of what I can do.<br/>
        <br/>
        The applications in the top bar are ordered by complexity, so if you're <br/>
        just looking for a quick overview, feel free to skip directly to the <br/>
        Ads application.  Just be aware that you will need to create a login <br/>
        to access it.  You're welcome to make one on your own or use the Github <br/>
        social login.  Both are accessible at the far-right of the nav bar.<br/>
        <br/>
        In addition, the source code for this website can be found
        <a href="https://github.com/CAA-Important/CAA-Important/tree/main/Python_Projects/django_certification_apps"> here </a>.<br/>
        <br/>
        And here are the certifications I received for this work.
        <ul>
            <li><a href="https://www.coursera.org/account/accomplishments/specialization/JX489YD6GWJ4">Full Specialization Certificate</a></li>
            <li><a href="https://www.coursera.org/account/accomplishments/verify/5BFP25Y29B3P">Course 1 Certificate</a></li>
            <li><a href="https://www.coursera.org/account/accomplishments/verify/RTV5MPHQFK5C">Course 2 Certificate</a></li>
            <li><a href="https://www.coursera.org/account/accomplishments/verify/JTAN9TWQTVCB">Course 3 Certificate</a></li>
            <li><a href="https://www.coursera.org/account/accomplishments/verify/KUFJCWKJE4TV">Course 4 Certificate</a></li>
        </ul>
        <br/>
        <br/>
        Whatever you decide to do here, though, I hope you enjoy your visit <br/>
        and have a nice day.<br/>
        <br/>
        Sincerely,
    </p>
    <h4>-(Chandler) Alec Austin</h4>
{% endblock content %}
