{% extends "base_menu.html" %}
{% load static %}

{% block pagestarter %}
    <h1>ABOUT</h1>
    <p>
        <img class="img" src="{% static 'css/img/blank.jpg' %}" alt="blank" title="blank" width="60" height="60" />
        This page provides information about the developer as well as this website.
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </p>
{% endblock %}

{% block tab_labels%}
    <ul>
        <li>
            <a id="dev_click" href="developer_info">
                <span>
                    Developer
                </span>
            </a>
        </li>
        <li>
            <a id="web_click" href="website_info">
                <span>
                    Website
                </span>
            </a>
        </li>
    </ul>
{% endblock tab_labels%}


{% block tab_content%}
    <div id="developer_info">
        <div class="roundcont">
            <div class="roundtop"><img src="{% static 'css/img/tl.gif' %}" alt="tl img"  width="10" height="10" class="corner"  style="display: none" /> </div>
            <p>
                This is the developer info.
            </p>
            <div class="roundbottom"><img src="{% static 'css/img/bl.gif' %}" alt="bl img" width="10" height="10" class="corner" style="display: none" /></div>
        </div>
    </div>
    <div id="website_info" style="display:none">
        <div class="roundcont">
            <div class="roundtop"><img src="{% static 'css/img/tl.gif' %}" alt="tl img"  width="10" height="10" class="corner"  style="display: none" /> </div>
            <p>
                This is the website info.
            </p>
            <div class="roundbottom"><img src="{% static 'css/img/bl.gif' %}" alt="bl img" width="10" height="10" class="corner" style="display: none" /></div>
        </div>
    </div>
{% endblock tab_content%}
    
